body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
}
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group textarea {
    height: 150px;
}
.form-group small {
    color: #888;
}
    /* .form-group   button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    } */
.form-group button:hover {
    background-color: #b1b1b1;
}
.preview {
    margin-top: 20px;
}
.preview img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.create-return-back{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5ca1f073;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.create-return-back-courseADD{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4fc033;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}