* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.subject-table td h3 {
    color:  rgb(236, 240, 239);; /* Mengatur warna teks h3 */
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #2C3333; /* Collor palette */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 60px;
    margin-left: 50px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 60px;
}

.user-info {
    display: flex;
    align-items: center;
}

.profile {
    position: relative;
}

.username {
    margin-right: 20px;
    color: white;
    font-size: larger;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 60px;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    top: calc(80% + 10px);
    right: 0;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: E7F6F2;
    text-decoration: none;
}

.dropdown-content a:nth-child(1) {
    color: #007bff;
}

.profile:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
    pointer-events: auto;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
    color: #333;
}

.log-out-StudentPage  {
    padding: 10px 40px; /* Ruang dalam tombol */
    background-color: #f44336; /* Warna latar belakang */
    color: white; /* Warna teks */
    border: none; /* Hapus batas */
    border-radius: 4px; /* Buat sudut yang melengkung */
    cursor: pointer; /* Ubah kursor saat di atas tombol */
    transition: background-color 0.3s; /* Efek transisi warna latar belakang saat dihover */
    pointer-events: auto;
    display: block;
}

.log-out-StudentPage button :hover{
    background-color: #f0f0f0;
}
/* Main table */
.main-table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    max-width: 1200px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



.subject-table {
    border-collapse: collapse;
    width: 33.33%;
    float: left;
    margin-right: 10px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.subject-table td {
    padding: 10px;
}

.subject-table img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto 10px;
    display: block;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Efek gelap pada gambar saat dihover */
.subject-table img:hover {
    filter: brightness(70%); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.subject-table::before {
    content: "";
    background: rgba(161, 139, 139, 0.362);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
}

/* Center box */
.center-box-learnpath {
    width: 1000px;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #548CA8;
    /*Collorpalette*/padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
}

/*link path*/

.learning_path {
    text-align: center; /* Membuat teks menjadi di tengah */
}

.learning_path a {
    color: rgb(0, 153, 173); /* Atur warna teks sesuai dengan warisan dari elemen induk */
    text-decoration: none; /* Hilangkan dekorasi standar hyperlink */
    transition: color 0.3s ease, background-color 0.3s ease; /* Efek transisi untuk perubahan warna dan latar belakang */
}

.learning_path a:hover {
    color: #0d758d;
    /*Gantiwarnatekssaatdihover*/background-color: #b1b1b1;
    /*Tambahkanlatarbelakangsaatdihover*/border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}

.nama-mapel{
    font-size: larger;
}

.STUDENT-back-style {
    display: inline-block;
    text-decoration: none;
    color: #395B64;
    font-weight: bold;
    border: 2px solid #2C3333;
    border-radius: 5px;
    padding: 8px 16px;
    width: fit-content;
    margin-left: 30px;
    margin-top: 90px;
}

.STUDENT-back-style :hover{
        background-color: #5c738c;
        color: #fff;
}

.STUDENT-back-style-path {
    display: inline-block;
    text-decoration: none;
    color: #395B64;
    font-weight: bold;
    border: 2px solid #2C3333;
    border-radius: 5px;
    padding: 8px 16px;
    width: fit-content;
    margin-left: 30px;
    margin-top: 86px;
}

.STUDENT-back-style-path :hover{
        background-color: #5c738c;
        color: #fff;
}